@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;500&display=swap');
body{
     font-size: 18px;
     font-family: 'Prompt', sans-serif;
}
A:link {
     text-decoration:none;
}
A:visited {
     text-decoration:none;
}